/* LoginPage.css */

.card {
    border-radius: 10px;
  }
  
  .login-form {
    background-color: rgba(192, 206, 205, 0.8);
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
/* LoginPage.css */

/* LoginPage.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url('./../styles/LoginPage.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to the form to improve readability */
  }
  
  