.navbar {
  background-color: #333;
  color: #fff;
  width: 100%; /* Set a fixed width */
  margin: 0 auto; /* Center the navbar */
  padding: 10px 20px; /* Add padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px; /* Increase the margin for better spacing */
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar li a:hover {
  color: #ccc;
}
