/* SignupPage.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  body {
    background-image: url('./../styles/SignupPage.jpg');
    background-size: cover;
    background-position: center;
    opacity: 100%;
  }  
  
  .card {
    background-color: rgba(192, 206, 205, 0.8);/* Add a semi-transparent background to the card */
  }
  